body {
    background-color: #ffffff;
    font-family: Courier New;
}

.imagen {
    width: 20px;
}

.navbarhome {
    background-color: #000000;
   

}

.navbarregister {
    background-color: #EB7F7F;

}

.navbarsingle {
    background-color: #E4D18A;
}

.botonregister {

    font-family: Courier New;
    color: #ffffff;
    font-size: 13px;
    padding: 6px;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    text-shadow: 1px 1px 3px #ffffff;
    border: dotted #ffffff 0px;
    background: #000000;
    padding: 12px;
}

.botonlogin {

    font-family: Courier New;
    color: #ffffff;
    font-size: 13px;
    padding: 6px;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    text-shadow: 1px 1px 3px #ffffff;
    border: dotted #ffffff 0px;
    background: #000000;
    padding: 12px;
}

.footer {
    background-color: #ffffff;
    opacity: 0;
    
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.form {
    width: 500px;
    height: 500px;
    background-color: #D8CECE;
    margin-top: 90px;
    margin-left: 180px;
    border-radius: 4px;
}

.publicity {
    width: 450px;
    height: 650px;
    background-color: #F46868;
    margin-top: 20px;
    margin-left: 237px;
    border-radius: 4px;
}


.submit {
    background-color: rgb(50, 116, 239);
    margin-top: 14px;
    border: white;
    border-radius: 4px;
    width: 100px;
    height: 40px;

}

.about {
    width: 1300px;
    height: 600px;
}

.botondisabled {
    pointer-events: none; 
    opacity: .0;
    Cursor: default;
}