@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.imagen {
    width: 20px;
}

.navbarhome {
    background-color: #000000;
}

.navbarregister {
    background-color: #EB7F7F;

}

.navbarsingle {
    background-color: #E4D18A;
}

.botonregister {

    font-family: Courier New;
    color: #ffffff;
    font-size: 13px;
    padding: 6px;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    text-shadow: 1px 1px 3px #ffffff;
    border: dotted #ffffff 0px;
    background: #000000;
    padding: 12px;
}

.botonlogin {

    font-family: Courier New;
    color: #ffffff;
    font-size: 13px;
    padding: 6px;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    text-shadow: 1px 1px 3px #ffffff;
    border: dotted #ffffff 0px;
    background: #000000;
    padding: 12px;
}

.footer {
    background-color: #ffffff;
    opacity: 0;

}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.form {
    width: 500px;
    height: 500px;
    background-color: #a9a9a9;
    margin-top: 70px;
    margin-left: 20px;
    border-radius: 4px;
}

.publicity {
    width: 450px;
    height: 650px;
    background-color: #FF3B3F;
    margin-top: 0px;
    margin-left: 250px;
    border-radius: 4px;
}


.submit {
    background-color: #ff3b3f;
    margin-top: 14px;
    border: white;
    border-radius: 4px;
    width: 100px;
    height: 40px;

}

.about {
    width: 1300px;
    height: 600px;
    background-color: #ffadfa;
}

.botondisabled {
    pointer-events: none;
    opacity: .0;
    Cursor: default;
}

.logoback {
    margin-top: 600px;
    margin-left: 50px;
}

.logout {
    color: #FF3B3F;
}

.login {
    background-color: #a9a9a9;
}

.addproject {
    width: 500px;
    height: 500px;
    background-color: #000000;
    margin-top: 70px;
    margin-left: 20px;
    border-radius: 4px;
}

.projectimage {
    width: 157px;
    height: 157px;
    padding: 5%;
}

.projectname {
    margin-top: 28px;
}

.projectcontainer {
    background-color: #feffcd;
    border-radius: 5px;
}

.placeholder {

    border-radius: 3px;
    width: 300px;
    height: 33px;
    border-color: #000000;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

.date {
    font-size: 13px;
}

.version {
    font-size: 13px;
    border-radius: 3px;
}

.addfiles {
    font-size: 13px;
    background-color: #CCEAF4;
}

.titlesong {
    font-size: 12px;
    margin-left: 5px;
}

input::placeholder {
    font-weight: bold;
    opacity: 1;
    color: rgb(33, 30, 30);
    font-size: small;
    border-color: #000000;
}

.button-container{
    display:inline-block;
    position:relative;
    }
    
    .button-container a{
    position: absolute;
    bottom:4em;
    right:4em;
    background-color:#8F0005;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
    }

    .coveralbum {
        margin-top: 10px;
        width: 120px;
        height: 120px;
        gap: 5px;
    }

    .newversion {
        font-size: 10px;
        background-color: #ff8d8d;
        margin-right: 20px;
    }

    .openbutton {
        font-size: 10px;
        background-color: #b5f175;
    }

    .fas {
        font-size: 13px;
    }

    .aboutme {
        background-color: #000000;
        width: 500px;
        height: 100px;
        text-decoration-color:  #ffadfa;
    }